body{
    background-color: black;
    font-family:fantasy;
}

#menu a:hover{color: white;text-decoration:none;font-weight: bold;}
#menu a:active{color: white;text-decoration:none;}
#menu a:visited{color: white;text-decoration:none;}
#menu a:link{color: white;text-decoration:none;}

#container{
    width:900px;
    min-height:500px;
    margin:0 auto;
    background-color:white;
}

#top{
    width:900px;
    height:150px;
    background-color:slategray;
    color: white;
    transition:background .3s ease,background .2s linear,width 2s, height 1s;
    -moz-transition:background .3s ease,background .3s linear,width 1s, height 1s, -moz-transform 1s;
    -o-transition:background .3s ease,background .3s linear;
    -webkit-transition:background .3s ease,background .2s linear,width 1s, height 1s, -webkit-transform 1s;
    -ms-transition:background .3s ease .3s,width 2s, height 2s, -o-transform 2s;

}
#top:hover{background-color:lightsteelblue; height: 150px;color:black}

.slogan {
    text-align: center;
    line-height: 150px;
    font-size: 30px;
}


#menu{
    width:800px;
    height:40px;
    margin-top:-20px;
    margin-left: auto;
    margin-right: auto;
    background-color:steelblue;
    color: white;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border:1px solid whitesmoke;
}
#cat_sabit {
    width: 210px;
    min-height: 300px;
    float:left;
    background-color: white;
}

#loginbox{
    width: 200px;
    min-height: 25px;
    background-color: slategray;
    margin-left: 10px;
    border-radius: 5px;
    float: left ;
    margin-bottom: 10px;
    font-size: 12px;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
#loginbox a:link {
    text-align: center;
    color: white;
    display: block;
    line-height:15px;
    margin-bottom: 2px;
    font-size: 12px;
    text-decoration: none;
}

#loginbox a:hover{
    background-color: cornflowerblue;
}

#categories{
    width: 200px;
    min-height: 50px;
    background-color: slategray;
    margin-left: 10px;
    border-radius: 5px;
    float: left ;
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
}

#categories a:link {
    text-align: center;
    color: white;
    display: block;
    line-height: 15px;
    margin-bottom: 2px;
    font-size: 12px;
    text-decoration: none;
}

#categories a:hover{
    background-color: cornflowerblue;
    font-size: 14px;
    font-weight: inherit;
}

#container a:visited{
    color: white;
}

#contents{
    width: 650px;
    min-height: 200px;
    background-color: slategray;
    border-radius: 5px;
    padding: 10px;
    float: left;
    margin-left: 10px;

}

 #content{
    width: 625px;
    min-height: 20px;
    margin:5px auto 5px auto;
    padding:5px 5px 10px 5px ;
    background-color: white;
    border-radius: 5px;
    opacity: 50;
    transition:background .3s ease,background .2s linear,width 2s, height 1s;
    -moz-transition:background .3s ease,background .3s linear,width 1s, height 1s, -moz-transform 1s;
    -o-transition:background .3s ease,background .3s linear;
    -webkit-transition:background .3s ease,background .2s linear,width 1s, height 1s, -webkit-transform 1s;
    -ms-transition:background .3s ease .3s,width 2s, height 2s, -o-transform 2s;
 }

 #content:hover{  }

 .title{
     font-size: 18px;
     font-weight: bold;
     clear: both;
     margin-bottom: 10px;
     border-bottom: 1px solid black;
     padding:0 10px 0 10px;
     text-transform: capitalize;
 }

 .text{
     font-size: 12px;
     clear: both;
     padding:0 10px 0 10px;
     margin-bottom: 10px;
 }

#content .title a{
    color:black;
    text-decoration: none;
}

#content .title a:hover{
    color:cadetblue;
    text-decoration: none;
}

#comment{
     width: 570px;
     min-height: 40px;
     background-color: darkgray;
     border-radius: 5px;
     margin:10px 0 10px 30px;
     font-size: 11px;
     clear: both;
     padding:0 10px 5px 10px;
     color: black;
 }

#comment .title {
     font-size: 13px;
     font-weight: bold;
     clear: both;
     margin-bottom: 10px;
     border-bottom: 1px solid darkslategray;
     padding:5px 10px 0 10px;
     text-transform: capitalize;
}


#comment .text{
     font-size: 12px;
     clear: both;
     padding:0 10px 0 10px;
     margin-bottom: 10px;
}

#comments{
     width: 530px;
     min-height: 40px;
     background-color: lightgray;
     border-radius: 5px;
     margin:10px 0 5px 25px;
     font-size: 11px;
     clear: both;
     padding:5px 10px 5px 10px;
     color: black;
 }

#comments .title {
     font-size: 13px;
     font-weight: bold;
     clear: both;
     margin-bottom: 10px;
     border-bottom: 1px solid graytext;
     padding:0 10px 0 10px;
     text-transform: capitalize;
}



#comments .text{
     font-size: 12px;
     clear: both;
     padding:0 10px 0 10px;
     margin-bottom: 10px;
}

.midle{
    text-align:center;
    color: firebrick;
}

.edit {
    text-align: right;
    float: right;
    font-size: 10px;
    line-height: 15px;
}
.edit a{
    text-decoration: none;
    color:black;
    top :-5px;
}


 #footer{
    width:900px;
    height:100px;
    background-color:slategray;
    line-height: 150px;
    font-size: 30px;
    color: white;
    text-align: center;
     margin-top: 20px;
}

 .boxheader{
     color:white;text-align: center;display: block; font-size: 15px;
 }