{% extends "base.html" %}
{% load i18n %}
{% block page %}Index{% endblock %}

{% block Content %}

    {% for p in posts reversed %}
        <div id="content">
            <div class="title">
                <a href="/detail/{{ p.id }}" >{{ p.title }}</a>
            </div>
            <div class="text">
                {{ p.text }}
            </div>

            {% for comment in rootComments %}
                <div id="comment">
                    <div class="title">
                        {{ comment.title }} root
                    </div>
                    <div class="text">
                        {{ comment.text }}
                    </div>


                    {% for sub in subComments %}
                        {% if comment.id == sub.object_id  %}

                            <div id="comment">
                                <div class="title">
                                    {{ sub.title }}
                                </div>
                                <div class="text">
                                    {{ sub.text }}
                                </div>


                                {% with 'subcomments.html' as file %}
                                    {% with sub as parent %}
                                        {% include file %}
                                    {% endwith %}
                                {% endwith %}
                             </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
            <!-- Send Comment -->
            <div id="comments">
                <form method="post" action="/sendpost/">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Send Post">
                </form>
            </div>
            <!-- Send Comment -->
        <div style="clear: both"></div>
        </div>
    {% endfor %}

{% endblock %}
