{% load i18n %}

        {% for sub in subComments %}
            {% if parent.id == sub.object_id  %}

                <div id="comments">
                    <div class="title">
                        {{ sub.title }}
                    </div>
                    <div class="text">
                        {{ sub.text }}
                    </div>


                    {% with 'subcomments.html' as file %}
                        {% with sub as parent %}
                            {% include file %}
                        {% endwith %}
                    {% endwith %}
                </div>
            {% endif %}

        {% endfor %}


